/**
* simple inline layout
* - style.css
**/

h3 {
	color: #012840;
	font-size: 20px;
}

h4 {
	color: #123859;
	font-size: 16px;
}

/* default p block element... */
p {
	border: 2px solid #1A4A73;	
	padding: 10px;
	color: #58595B;
	font-size: 14px;
}

/* basic inline element */
.inline {
	color: #8C4660;
	font-weight: 700;
}

/* basic formatting context override... */
.inline-override {
	display: block;
	color: #A64F82;
	font-weight: 700;
}
