/**
* simple web page - part 2
* - style.css
**/

h3 {
	color: #023859;
	font-size: 20px;
}

p {
	color: #58595B;
	font-size: 15px;
}

ul {
	width: 150px;
	border: 1px solid #222222;
}

li {
	padding: 5px;
	list-style-type: none;
}

/* quick links menu */
.quick-links {
	padding: 15px;
	background-color: #656565;
}

.first-item {
	color: #dddddd;
	font-size: 18px;
	text-decoration: underline;
}

li a {
	color: #F2CF63;
	padding: 15px;
	text-decoration: none;
}

li a:hover {
	color: #ffffff;
	text-decoration: underline;
}

/* adjacent sibling paragraph */
ul + p {
	margin: 30px;
}

