/**
* basic column layout - column count
* - style.css
**/

h3 {
	color: #6593A6;
	font-size: 20px;
}

p {
	color: #58595B;
	font-size: 14px;
}

/**
* column layout examples
**/

/* column container */
.col-container {
	column-count: 4;
	column-gap: 50px;
	column-rule-width: 5px;
	column-rule-style: solid;
	column-rule-color: #A3CDD9;
}	

/* override default paragraph margin top */
p.col-p {
	margin-top: 0;
}
