/**
* basic column layout - column width
* - style.css
**/

h3 {
	color: #6593A6;
	font-size: 20px;
}

p {
	color: #58595B;
	font-size: 14px;
}

/**
* column layout examples
**/

/* column container */
.col-container {
	column-width: 150px;
}	

/* override default paragraph margin top */
p.col-p {
	margin-top: 0; 
}
