/**
* simple block layout 
* - style.css
**/

h3 {
	color: #6593A6;
	font-size: 20px;
}

/* default p block element... */
p {
	border: 3px solid #A5BB87;	
	color: #58595B;
	font-size: 14px;
}

/* update block element for width... */
.restrict-space p {
	width: 300px;
}

/* update block element for margin collapse... */
.margin-collapse p {
	margin: 25px 0 50px 0;
}

